<html>

<head>
	<title>Hygge</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="mobile-web-app-capable" content="no">
	<style>
		html,
		body {
			margin: 0;
			padding: 0;
			overflow: hidden;
			
		}
		
		#pixi-content {
			display: flex;
			padding-top: 120px;
			justify-content: center;
			align-items: top;
			height: 100vh;
			width: 100vw;
			background: #000000;
		}

		@font-face {
			font-family: 'VT323';
			src: url('/fonts/VT323-Regular.ttf') format('truetype'); /* ✅ Correct format */
			font-weight: normal;
			font-style: normal;
		}

		body, button, canvas {
    font-family: 'VT323', monospace !important;
}

	</style>

</head>

<body>
	<p style="opacity: 0; position: absolute; pointer-events: none;">font-preloader</p>

	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="pixi-content"><canvas id="pixi-canvas" /></div>
</body>

</html>